body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

/*****************HEAD*************************/

header {
    background-color: grey;
    display: flex;
    justify-content: space-between;/*separa os elementos dentro do header: marca + menu(home+...+contato)*/
    
}

header .menu ul li {
    color: white;
}

header h2 #logoT{
    padding: 20px;
    color: white;
}
header h2 a{
    text-decoration: none;/*tira o sublinhado do link marca*/
}

.menu ul {
    list-style-type: none;/*tira as bolinhas da ul*/
    display: flex;/*a ul fica horizontal ao inves de vertical*/
    padding: 10px;
}
.menu ul a {
    text-decoration: none;/*tira o sublinhado do link do menu*/
    padding: 5px;
}

/*********************MAIN*********************/
#titulo-home {
    text-align: center;
}

main section div p {
    max-width: 280px;/*largura max que o texto abaixo da imagem ocupa -> coloquei um tamnho menor que a largura max da imagem(280 e 300)*/
    text-align: center;/*fica centralizado na largura da imagem*/
    
}

main section div img {
    max-width: 100%;/*largura max das imagens*/
}

/********************************************/

footer {
    background-color: gray;
    width: 100%;
}


.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;/*3 colunas*/
    grid-gap: 10px;/*espaçamento entre os blocos grid*/
    max-width: 100%;
    height: auto;
    padding: 10px;
    margin-left: 20px;
}

.grid .card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
    align-items: center;
    font-size: 80%;
}

.grid .banner {
    grid-column: 3; /*card banner fica na terceira coluna*/
    grid-row: 2 / 5;
}

@media screen and (max-width: 600px) {
    .grid {
        grid-template-columns: 1fr 1fr;
    }
    .card {
        display: block;
    }
    .banner {
        grid-column: auto;
        grid-row: auto;
    }
}

#menu-Toggle {

}

.menu-icon {

}

@media screen and (max-width: 600px) {
    header {
        position: fixed;
        top: 0;
        width: 100%;
    }

    header nav {
        display: absolute;
        width: 100%;
        height: 100%;
    }
    .menu {
        display: flex;
        position: fixed;
        flex-wrap: wrap;
        align-content: center;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.7);
        overflow: hidden;
    }
    .menu li{
        display: block;
        background-color: aqua;
        width: 100%;
        margin-left: 0;
        margin-bottom: 50px;
    }
    .menu li a {
        display: block;
        text-align: center;
        width: 100%;
    }
    .menu-icon {
        display: block;
        color: white;
        width: 50%;
        height: inherit;
        position: absolute;
        top: 15px;
        right: 30px;
        line-height: 60px;
    }


}