

.logo {/*foto*/
    width: 100px;/*largura 100px*/
    height: auto;

}

.thumbnail1{/*foto*/
    width: 200px;
    height: auto;
}


.thumbnail2{/*foto*/
    width: 200px;
    height: auto;
}

/*Sobre Mim*/

#sbtitulo {
    text-align: center;
}