* {
    margin: 0;
    padding: 0;
}
/*Home*/
header {
    background-color: bisque;
}
main {
    background-color: antiquewhite;
    width: 65%;
    float: left;
    padding: 20px;
    box-sizing: border-box;
}
aside {
    background-color: azure;
    width: 35%;
    float: left;
    padding: 20px;
    box-sizing: border-box;
}
footer {
    background-color: rgb(174, 168, 168);
}

.menu-principal {
    float: right;
}

.menu-principal ul {
    list-style-type: none; /*tirar as bolinhas da ul*/
}

.menu-principal ul li {
    display: inline-block;/*lista fica horizontal e nao vertical*/
}

.menu-principal ul li a {
    text-decoration: none;
}


.logo {/*foto*/
    width: 100px;/*largura 100px*/
    height: auto;

}

.thumbnail1{/*foto*/
    width: 200px;
    height: auto;
}
/*----------------------------------------*/

/*Sobre Mim*/

#sbtitulo {
    text-align: center;
}